.title {
  text-align: center;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  width: 40%;
  height: 100%;
}

.grid-row {
  display: inline-flex;
}

.grid-cell {
  width: 100%;
}

.grid-cell:before {
  content:'';
  float:left;
  padding-top:100%;
}

.controls {

}

.current-color {
  vertical-align: middle;
}

.current-player {
  text-decoration: underline;
}

.current-color-title {
  display: inline-block;
}

.color-block {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.undo {
  font-size: large;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}
